# R auxiliary files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac auxiliary files
.DS_Store

# Markdown auxiliary files
*.html

# Latex auxiliary files
*.tex
*tikzDictionary
*.bbl
*.bcf
*.lof
*.log
*.lot
*.xml
*.gz
*.toc


# Ignore folder with images
#figure/

# Ignore folder with data
Rdata/

# Ignore other files